.modal {
    position: absolute;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.131);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    & .modal-content {
        float: right;
        height: 100vh;
        width: 45%;
        background-color: white;
        display: flex;
        flex-direction: column;
        
        & .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--grey-200);
        }

        & .modal-body {
            flex: 1 1;
            overflow: scroll;
        }

        & .modal-body, .modal-header {
            padding: 16px 24px;
        }
    }
}