header {
  padding: 20px;
  background-color: var(--background-header);
  position: fixed;
  top:0;
  width: 100vw;

  & > div {
    display: flex;
    justify-content: space-between;

    & p:not(.title) {
      font-size: 12px;

      & > span {
        opacity: 0.5;
      }
    }
  }
}
