header {
  padding: 20px;
  background-color: var(--white);

  & > div {
    display: flex;
    justify-content: space-between;

    & p:not(.title) {
      font-size: 12px;

      & > span {
        opacity: 0.5;
      }
    }
  }
}
