.container.medicaments {
  margin-top: 30px;

  & .panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  

  & .subtitle {
    max-width: 400px;
  }
}
