@import 'tailwindcss';

:root {
  --white: #ffffff;
  --black: #1d1d1b;
  --grey: #494948;
}

* {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  background-color: #f6f6f6;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  color: var(--grey);
}
